version=0.16.0
margin=100
break-cases=fit-or-vertical
break-collection-expressions=fit-or-vertical
break-fun-decl=fit-or-vertical
break-infix=fit-or-vertical
break-struct=force
break-sequences=true
field-space=loose
if-then-else=keyword-first
indicate-multiline-delimiters=no
infix-precedence=parens 
parens-tuple=multi-line-only
sequence-style=terminator
type-decl=sparse
wrap-comments=false
wrap-fun-args=false
space-around-arrays=false
space-around-lists=false
space-around-variants=false
space-around-records=true
doc-comments=before
